.contact-info-container {
  display: flex;
  padding-top: 1vh;
  font-weight: 600;
}

.contact-page {
  background: #000000;
  padding-bottom: 5vh;
}

.number-icon svg {
  color: #0476d0;
  vertical-align: middle;
  margin-left: 0.5vw;
}
.our-facebook-url {
  margin-top: 2vh;
}
@media only screen and (max-width: 768px) {
  .contact-info-container {
    flex-direction: column;
  }
  .contact-address {
    width: 100%;
    margin-bottom: 5vh;
  }
}
