.image-slider-component {
  background: rgba(0, 0, 0, 0.87);
  position: fixed !important;
  z-index: 100000 !important;
  width: 100%;
  top: 0;
  height: 100%;
  padding-top: 30px;
}
.slick-thumb {
  top: 100%;
}
.slick-dots.slick-thumb {
  margin: 0;
  left: 0;
}
.slick-dots.slick-thumb li {
  margin: 0 10px;
  filter: grayscale(100%);
  width: unset;
  height: unset;
}
.slick-dots.slick-thumb li.slick-active {
  filter: unset !important;
}
.image-in-thumb img {
  margin: 2vh 0;
  width: 60px;
  height: 60px;
}
.each-image img {
  margin: 0 auto;
  width: 500px;
  height: 80vh;
}

@media only screen and (max-width: 768px) {
  .each-image img {
    width: 400px;
  }
}
@media only screen and (max-width: 600px) {
  .each-image img {
    width: 300px;
    height: 60vh;
  }
  .image-slider-component {
    padding-top: 90px;
  }
}
@media only screen and (max-width: 450px) {
  .each-image img {
    width: 260px;
  }
}
