.ourwriters-page {
  background: #000000;
  padding-bottom: 5vh;
}

.countries-filter {
  margin: 3vh auto 0 auto;
  width: 60vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.countries-filter button,
.video-home,
.promo-novels,
.main-btn,
.promo-btn {
  cursor: pointer;
  margin-left: 1vw;
  text-transform: none;
  font-weight: 600;
  padding: 0.7vh 1vw;
  border: 1px solid goldenrod;
  border-radius: 3px;
  background: transparent;
  transition: color, background-color 0.25s;
  color: rgb(0, 0, 0);
  font-size: 0.8em;
  font-family: "Cairo", sans-serif;
  outline: unset;
}
.countries-filter button {
  margin-top: 1vh;
}
.filter-btns-active {
  color: white !important;
  background-color: goldenrod !important;
}

.countries-filter button:hover,
.video-home:hover,
.promo-novels:hover {
  border: 1px solid goldenrod;
  color: #ffffff;
  background-color: goldenrod;
}

.writers-intro {
  margin-top: 2vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.each-writer-intro {
  padding-top: 0.5vh;
  width: 300px;
  height: fit-content;
  margin: 0 2vw 5vh 2vw;
  border-radius: 10px;
  border-top-left-radius: 9.3rem;
  border-top-right-radius: 9.3rem;
  box-shadow: 0px 0px 1px 1px rgb(255, 255, 255);
  background-color: goldenrod;
  color: #ffffff;
  /* margin-bottom: 23vh; */
}
.writer-bio {
  padding: 0 1vw;
  font-size: 16px !important;
}
.image-circle {
  margin: 0 auto;
  position: relative;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
  width: 18.5rem;
  box-shadow: 0px 0px 2px 2px rgb(0, 0, 0);
  height: 18.5rem;
  overflow: hidden;
  border-radius: 50%;
}
.image {
  width: 100%;
  height: 100%;
}
.each-writer-intro p {
  margin: 2vh 0 0 0;
  font-size: 20px;
}
.divider2 {
  margin: 0 auto;
  border-bottom: 1px solid #ffffff;
  width: 70%;
}

.each-writer-intro a {
  display: block;
  margin: 2vh auto 0 auto;
  color: #0476d0;
}
.read-more {
  font-weight: 700;
}
.read-more:hover {
  cursor: pointer;
}
.more-details-container {
  top: 0;
  width: 100%;
  position: fixed;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.733);
  z-index: 1000;
}
.more-details {
  top: 10px;
  margin: auto;
  z-index: 1000;
  /* width: 330px; */
  color: rgb(255, 255, 255);
  background-color: goldenrod !important;
  display: block;
  position: relative;
}
.close-details {
  left: -140px;
  top: 5px;
  opacity: 1;
  color: rgb(177, 169, 169) !important;
  transition: all 0.6s;
  position: relative;
  stroke-width: 60px;
}
.close-details:hover {
  cursor: pointer;
  color: #e2dddd !important;
}
.more-bio {
  overflow-y: scroll;
  height: 30vh;
}
.more-bio::-webkit-scrollbar {
  width: 0.5em;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 10px;
}
.more-bio::-webkit-scrollbar-thumb {
  background-color: rgb(112, 112, 112);
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}

/* .more-bio::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.76);
  border-top-left-radius: 0px;
  border-bottom-left-radius: 8px;
} */

@media screen and (max-width: 550px) {
  .more-details {
    top: 10px;
    margin: auto;
    z-index: 1000;
    width: 250px;
    display: block;
    position: relative;
    background-color: white;
  }
  .more-bio {
    font-size: 14px !important;
  }
  .close-details {
    left: -115px;
  }
  .image-circle-more {
    width: 15.2rem;
    height: 15.2rem;
  }
}
