.slider-contact-component {
  margin: 0 auto;
  width: 48%;
}

.fullname-email {
  color: white;
}

.name-phone-fields {
  display: block !important;
  margin: 0 auto;
  width: 10%;
}

.fields-label-input label {
  font-weight: 700;
  display: block;
  color: white;
  text-align: right;
}
.contactPage label {
  color: black !important;
}
.submit-form {
  outline: unset;
  border: 1px solid Gold;
  color: #ffffff;
  background-color: Gold;
  font-family: "Cairo", sans-serif;
  border-radius: 18px;
  font-size: 1.1rem;
  margin: 0 auto !important;
  margin-top: 2vh !important;
  padding: 0.175rem 0.75rem;
  text-transform: uppercase;
  font-weight: 400;
  transition: background-color 0.35s;
  width: 80%;
}
.contactPage {
  color: black;
}
.name-phone-fields input {
  margin: 0 auto;
  margin-bottom: 2vh;
  outline: none;
  border: 1px solid #ccc;
  font-size: 1rem;
  box-sizing: content-box;
  box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%);
  padding: 1vh;
  border-radius: 4px;
  line-height: 1.42857143;
  color: rgb(85, 85, 85);
  background-color: #fff;
  font-family: "Cairo", sans-serif;
}
.name-phone-fields input:focus {
  border-color: gold;
  outline: 0;
  box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%), 0 0 8px rgb(102 175 233 / 60%);
}
.name-phone-fields {
  display: flex;
  width: 100%;
  justify-content: space-around;
}
.name-phone-fields input {
  width: 96%;
}
.submit-form:hover {
  cursor: pointer;
  background: goldenrod;
  border-color: goldenrod;
}
@media only screen and (max-width: 900px) {
  .contact-form-component {
    width: 100%;
  }
  .slider-contact-component {
    width: 80%;
  }
}
