.our-services-container {
  padding: 0 10vw;
  color: white;
  list-style: decimal;
  margin: 0 auto;
}

.our-services-page p {
  color: white;
  margin: 5vh 0;
}
.each-topic {
  text-align: right;
  margin: 5vh 0;
  background-color: rgba(128, 128, 128, 0.473);
  padding: 5vh;
  border-radius: 10px;
  box-shadow: 0px 0px 1px 1px white;
}
.each-topic span {
  font-size: 25px;
}
.each-topic li {
  color: white;
  font-size: 25px;
  list-style: decimal;
}
.each-topic p {
  margin: 0;
}
