.footer-links {
  justify-content: center;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.footer-links a,
.footer-drop-down-more span,
.footer-dropdown-content {
  font-weight: 500;
  text-decoration: none;
  margin-left: 1.5vw;
  color: white;
  font-size: 12.8px;
}
.footer-dropdown-content {
  border-radius: unset;
}

.footer-links a:hover,
.footer-drop-down-more:hover span,
.footer-active-link {
  cursor: pointer;
  color: Gold;
}
.footer-drop-down-more:hover {
  cursor: pointer;
}
.displayed-item {
  display: block;
}
.removed-item {
  display: none;
}
.footer-drop-down-more {
  display: none;
  margin: auto 0;
}

.footer-dropdown-content {
  display: none;
  position: absolute;
  background-color: #333333;
  min-width: 160px;
  margin-top: -81px;
  margin-right: -141px;
  color: white !important;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  padding: 12px 16px 0px 16px;
  z-index: 1000;
}

.footer-drop-down-more:hover .footer-dropdown-content {
  display: block;
}
#contact,
#store,
#preview,
#writers,
#video {
  display: none;
  color: white;
  text-decoration: unset;
  text-align: right;
  margin: 0vh 0.5vw 2vh 1vw;
}
#contact:hover,
#store:hover,
#preview:hover,
#writers:hover,
#video:hover,
.dropmenu-active-link {
  color: gold !important;
}

@media screen and (max-width: 1285px) {
  .footer-links a:last-child {
    display: none;
  }
  .footer-drop-down-more {
    display: block;
  }
  #contact {
    display: block;
  }
}
@media screen and (max-width: 1190px) {
  .footer-links a:nth-child(7) {
    display: none;
  }
  #store {
    display: block;
  }
  .footer-dropdown-content {
    margin-top: -122px !important;
  }
}
@media screen and (max-width: 1095px) {
  .footer-links a:nth-child(6) {
    display: none;
  }
  #preview {
    display: block;
  }
  .footer-dropdown-content {
    margin-top: -163px !important;
  }
}
@media screen and (max-width: 1000px) {
  .footer-links a:nth-child(5) {
    display: none;
  }
  #video {
    display: block;
  }
  .footer-dropdown-content {
    margin-top: -204px !important;
  }
}
@media screen and (max-width: 905px) {
  .footer-links a:nth-child(4) {
    display: none;
  }
  #writers {
    display: block;
  }
  .footer-dropdown-content {
    margin-top: -245px !important;
  }
}
/* @media screen and (max-width: 810px) {
    .footer-links a:nth-child(3) {
      display: none;
    }
  } */
