.video-slider-component {
  background: rgba(0, 0, 0, 0.87);
  position: fixed !important;
  z-index: 100000 !important;
  width: 100%;
  top: 0;
  height: 100%;
  padding-top: 8%;
}
.video-slider {
  width: 100%;
  height: 100%;
}
.video-slider div img {
  margin: 0 auto;
}
.arrow {
  transform: translateY(-50%);
  color: rgb(255, 183, 0);
  position: absolute;
  cursor: pointer;
  z-index: 120;
}
.arrow:hover {
  color: gold;
}

.left-direction {
  margin-top: 20% !important;
  margin-left: 5% !important;
}
.right-direction {
  margin-top: 20% !important;
  margin-left: -5% !important;
}
.next {
  right: 0%;
  top: 42%;
}
.prev {
  left: 0%;
  top: 42%;
}
.video-slider-x-icon {
  position: absolute;
  color: rgb(214, 214, 214) !important;
  /* margin: 2vh 0 0 95vw;  */
  top: 5px;
  right: 10px;
  z-index: 1001;
  stroke-width: 100px;
}
.video-slider-x-icon:hover {
  color: white !important;
  cursor: pointer;
}
